{% extends 'admin-layout.html.twig' %}
    {% block stylesheet %}
    {% endblock %}

{% block adminnavbar %}
	{% include 'admin-navbar.html.twig' %}

{% endblock %}

{% block content %}
	<h1 class="adminInfosTitle"> Administration de la page d'informations</h1>

<form class="container benevoleForm" method="POST" enctype="multipart/form-data">


  <div class="form-group row">
    <label for="article" class="col-sm-2 col-form-label">Dates</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" name="title" id="article">{{ title }}</textarea>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="article" class="col-sm-2 col-form-label">Bloc de Gauche</label>
    <div class="col-sm-10">
      <textarea type="text"  id="pell" class="form-control txtInfos pell" name="content" id="article"> {{ content }}</textarea>
    </div>
  </div>


  </div>
  <div class="form-group row">
    <div class="col-sm-10">

      <button type="submit" class="btn btn-primary" name="update">Mettre à jour</button>
      
    </div>
  </div>

	</form>


{% endblock %}