{% extends 'layout.html.twig' %}


{% block title %}
    page de test – du pipeau !
{% endblock %}


{# {% block keywords %}{% endblock %} #}


{% block stylesheet %}
    <link href="assets/css/admin.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <header>
        <h1>Page d'administration</h1>
        <h2>planning des concerts</h2>
    </header

    <hr/>

    <main>
        <ul>
          {% for e in artists %}
            <article>
                <h1>{{ e.name }}</h1>
                <main>
                    <p>{{ e.style }}</p>
                    <p>
                        {{ e.about }}
                    </p>
                </main>
            </article>

            {% else %}
                <li>Aucune entrée présente</li>

          {% endfor %}
        </ul>
    </main>

{% endblock %}
