{% extends 'admin-layout.html.twig' %}
{% block adminnavbar %}
	{% include 'admin-navbar.html.twig' %}

    </div>
{% endblock %}

{% block content %}
    <div class="my-5">
        <!-- <h1 class="text-center">Administration Festizik</h1> -->
    </div>

{% endblock %}