{% extends 'admin-layout.html.twig' %}

{% block content %}
    <div class="my-5">
        <h1 class="text-center">Administration Festizik</h1>
        <div class="text-right">
            <a  href="/admin/logout">Se déconnecter</a>
        </div>
    </div>
    <div>

    </div>

{% endblock %}