    {% extends 'layout.html.twig' %}

    {% block stylesheet %}
      <link rel="stylesheet" type="text/css" href="/assets/css/video-style.css">
    {% endblock %}

    {% block content %}
        

            <div class="video">
                <video autoplay="autoplay" loop="loop" id="myVideo" class="fillWidth fadeIn animated"  id="video-background gone">
                  <source src="/assets/images/Concert-1630.mp4" type="video/mp4">
                </video>
            </div>
            <div class="content">
              <h1 class="tittleHomePage">FESTIZIK</h1>
            </div>

    {% endblock %}

