
{% block adminnavbar %}

	<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Espace Administration</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="#menu">Benevoles</a>

        </li>
        <li>
          <a href="#menu">Infos pratiques</a>


        </li>
        <li>
          <a href="#menu">Programmation</a>
        </li>
        <li>
          <a href="#">Artistes</a>
        </li>
      </ul>


    </nav>
  </div>
{% endblock %}