{% block footer %}

	<footer class="footer fixed-bottom myFooter">
      <div class="container nav justify-content-center myNav">
        <li class="nav-item myCopyright">
        	<a href="" class="nav-link text-white">Copyrights</a>
        </li>
        <li class="nav-item logoLink justify-content-center">
        	<a href="" class="nav-link text-white text-hide footLogo" style="background-image: url('/assets/images/favicon.png');">Logo</a>
        </li>
        <li class="nav-item">
        	<a href="" class="nav-link text-white">Mentions-Légales</a>
        </li>
      </div>
    </footer>
{% endblock %}