<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    {% if block('keywords') is defined %}
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- pour désactiver le mode
     «compatibilité avec le vieil et défaillant IE » de edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block stylesheet %}{% endblock %}

    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
    {% block content %}{% endblock %}
</body>

{% block javascript %}{% endblock %}
</html>