/* common reused styles */

.bordered {
    border: 1px solid darkred;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.sublined {
/* this "!important" is needed to neutralize bootstrap's "!important" usage */
    border: none !important;
    border-bottom: 2px solid darkred !important;
}

/* for images into the articles */
.downsized {
    max-width: 20vw;
    max-height: 20vh;
}

/* ------- */

/* for the "input[checkbox]:checked + elem" trick (hidding without JS) */
.showNext,
.unHiddenable{ display: none }

input[type='checkbox'].showNext:checked + .unHiddenable {
    display: block;
}

/* for the "Annulation" checkbox */
.cancelled::after {
    content: 'Annulation';
}

input[type="checkbox"]:checked + .cancelled::after {
    font-style: italic;
    color: red;
    content: 'Annulé';
}


/* ------- */

.adminConcert header {
    position: relative;

    text-align: right;
    color: darkred;
    font-weight: bold;

    /* ●●● VENGEANCE IS MINE. EAT THIS BACKGROUND! ●●● */
    background: repeating-linear-gradient( 45deg,
    transparent, transparent 20px, #d55 40px, #5dd 60px ),
    /*en fond du précédent */
    /*                linear-gradient(to bottom, #fff, #ccc 50%, #555);
    */
}

.adminConcert header > svg {
    position: absolute;
    z-index:  0;

    top: 0;
    left: 0;
    width: 100%;
    max-height: 5rem;
}
.adminConcert header > :not(svg) {
    position: relative;
}


.adminConcert > aside,
.adminConcert > nav {
    margin: 3%;
}

