/* common reused styles */

.bordered {
    border: 1px solid darkred;
    border-radius: 0.5rem;
    padding: 0.5rem;
}


.sublined {
    border-bottom: 2px solid darkred;
}

/* ------- */

header {
    position: relative;

    text-align: right;
    color: darkred;
    font-weight: bold;
}

header svg {
    position: absolute;
    z-index:  -1;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.card-columns {
    max-width: 95vw;
}

.card {
    background-color: #394;
}

.cancelled {
    text-align: right;
    font-style: italic;
    color: red;
    text-transform: uppercase;
}

.card-title {
    font-size: 2rem;
    color: darkred;
}

.card-title > .text-muted {
    font-size: 1rem;
    font-style: italic;
}

.card-subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: darkblue;
}


.card-text p {
    text-indent: 1rem;
}

.card-text p:first-child {
    font-weight: bold;
    font-size: larger;
    text-indent: inherit;
}