.programmation header {
    position: relative;

    text-align: right;
    color: lightgrey;
    font-weight: bold;
    max-height: 5vh;
}

.programmation header > svg {
    position: absolute;
    z-index:  0;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.programmation header > :not(svg) {
    position: relative;
}

/*
#programmation > aside,
#programmation > nav {
    margin: 3%;
}

#programmation .card-columns {
    max-width: 95vw;
}

#programmation .card {
    background-color: #394;
}

#programmation .cancelled {
    text-align: right;
    font-style: italic;
    color: red;
    text-transform: uppercase;
}

#programmation .card-title {
    font-size: 2rem;
    color: darkred;
}

#programmation .card-title > .text-muted {
    font-size: 1rem;
    font-style: italic;
}

#programmation .card-subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: darkblue;
}

#programmation .card-text p {
    text-indent: 1rem;
}

#programmation .card-text p:first-child {
    font-weight: bold;
    font-size: larger;
    text-indent: inherit;
}
*/
/* dev version

.programmation svg {
    position : absolute;
    width: 100%;
    height : 12%;
}

.programmation header h1 {
    position : relative;
    left : 53%;
    padding-top: 2%;
    font-size: 2em;
}

.programmation nav form {
    padding-left: 7%;
}


@media screen and (min-width: 992px){
    .programmation {
        overflow-x: hidden;
    }

    .programmation header h1 {
        left : 72%;
    }

    .programmation nav form {
        margin-top: -2%;
        padding-left: 10%;
    }
    .programmation svg {
        height : 25%;
    }
}*/
