@font-face {
    font-family: "neon";
    src: url('/assets/fonts/neon_club_music/NEON CLUB MUSIC.otf');
}


body {
    background-image : url('https://www.toptal.com/designers/subtlepatterns/patterns/gray_sand.png');
}

/* -------- NAVBAR -------- */
.barreNav {
	background-color: rgba(58, 56, 62, 0.6);
	display: block;
	z-index: 22222;
    overflow: hidden;

}

.logo {
	background: url("/assets/images/logo_mini.png") no-repeat;
	height: 40px;
	width: 70%;
}

.barreNav div {
	height: 85vh;
	text-align: center;
}

.barreNav ul:first-child {
	margin-top: 2%;
}

.barreNav li {
	list-style-type: none;
	height: 10vh;
}

.barreNav li a {
	color: #FDB940;
	padding-top: 5%;
}

.barreNav li a:hover {
	color: white;
}

.social-icons {
	display: inline;
}
.social-icons li {
	display: inline-flex;
	margin: 5%;
}

/*********************FOOTER***************************/

.myNav {
	padding: 0;
}


.logoLink {
	display: none;
}

/**********************BENEVOLES************************/

.formBox {
	position: relative;
    left : 4%;
    top: 6.5%;
    padding : 3%;
    color : white;
    width : 80%;
}

.welcome {
    color : white;
    text-align: center;
    padding-top: 5%;
}


/* -------- MEDIA QUERIES -------- */
@media screen and (min-width: 992px) {
    .barreNav {
		min-width: 7.5%;
		height: 100vh;
		border-right: 1px solid black;

	}

	.logo {
		background: url("/assets/images/favicon.png") no-repeat round;
		position: absolute;
		height: 10%;
		width: 100%;
		

	}

    .barreNav:hover .logo {
		background: url("/assets/images/logo.png") no-repeat round;
		height: 13%;
		width: 100%;
		margin-left: 5%;
        top : 10px;

	}

	#navbarSupportedContent {
		display: none !important;
	}

    .barreNav:hover #navbarSupportedContent {
		display: block !important;
	}

    .barreNav:hover .navbar-nav:first-child {
		margin-top: 100%;
	}

    .barreNav ul {
		display: block !important;
	}

    .barreNav ul:first-child {
	    margin-top: 0;
	}

	.social-icons {
		position: absolute;
		top: 90%;
		width: 80%;
	}

	.social-icons li {
		margin: 0 5%;
	}

	/****************Footer***************/
	.myFooter{
        z-index: 10000;

	}

	.myNav {
		padding-right: 0;
		align-items: center;
	}

	.myCopyright {
		margin-left: 35px;
	}

	.logoLink {
		display: block;
		width: 10em;
		height: 100%;
	}

	.footLogo {
		background-repeat: no-repeat;
		background-position: center;
		height: 100%;
	}
}







	/****************Billetterie***************/


.billetterieTitle{
	text-align: center;
	font-family: neon;
	color: #FDB940;
}

.days{
	justify-content: center;
	height: 50vh;
	justify-content: space-around;

}

.firstDay, .secondDay, .thirdDay{
	height: 45vh;
	color: #FCFDBC;
}

.firstDay{
	background-color: #00B6A2;
}

.secondDay{
	background-color: #009685; 
	
}

.thirdDay{
	background-color: #007a84; 
}

.bjr{
	margin-top: 10%;
}

.cadreTitle{
	text-align: center;
}


.hoverable{
	border-radius: 3%;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.3), 0 6px 20px 0 rgba(0,0,0,.7);
}

.choice{
	margin-top: 3rem;
	font-style: italic; 
}

.separator{	
	margin-top: 10%;
	height: 1px;
	background-color: #FDB940;
	width: 5vw;
	margin-left: 2rem;
}

.lign{	
	margin-top: 10%;
	height: 1px;
	background-color: #FDB940;
	width: 5vw;
	margin-right: 2rem;
}

.separation{
	display: flex;
	justify-content: space-between;
}


.price{
	position: relative;	
	font-size: 3em;
	margin-top: 2rem; 
	margin-bottom: 0px; 

}

.announcement{
	font-style: italic;	
}



.titleDay
{
	margin-top: 20px; 
}


.btnNav{

}

.btnRow{

    position: fixed;
    color: black; 
    width: 100%;
    top: 76%;
    height: auto;
  	margin: auto;
	justify-content: space-around;
}

.btnReservation{

	width: 8vw;
	height: 8vh;

}

.btn-1{
	background-color: #00B6A2;
}

.btn-2{
	background-color: #00B6A2;
}


.btn-1:hover{
	background-color: #007a84;
}

.btn-2:hover{
	background-color: #007a84;
}



.btn-3{
	background-color: #009685;
}

.btn-4{
	background-color: #009685;
}
.btn-3:hover{
	background-color: #00B6A2;
}

.btn-4:hover{
	background-color: #00B6A2;
}



.btn-5{
	background-color: #007a84;
}

.btn-6{
	background-color: #007a84;
}



.btn-5:hover{
	background-color: #009685;
}

.btn-6:hover{
	background-color: #009685;
}