body {
    background-image : url('https://www.toptal.com/designers/subtlepatterns/patterns/gray_sand.png');
}

/* -------- NAVBAR -------- */
.barreNav {
	background-color: rgba(58, 56, 62, 0.6);
	display: block;
	z-index: 22222;
    overflow: hidden;
}

.logo {
	background: url("/assets/images/logo_mini.png") no-repeat;
	height: 40px;
	width: 70%;
}

.barreNav div {
	height: 85vh;
	text-align: center;
}

.barreNav ul:first-child {
	margin-top: 2%;
}

.barreNav li {
	list-style-type: none;
	height: 10vh;
}

.barreNav li a {
	color: #FDB940;
	padding-top: 5%;
}

.barreNav li a:hover {
	color: white;
}

.social-icons {
	display: inline;
}
.social-icons li {
	display: inline-flex;
	margin: 5%;
}

/*********************FOOTER***************************/

.myNav {
	padding: 0;
}


.logoLink {
	display: none;
}

/**********************BENEVOLES************************/

.formBox {
	position: relative;
    left : 4%;
    top: 6.5%;
    padding : 3%;
    color : white;
    width : 80%;
}

.welcome {
    color : white;
    text-align: center;
    padding-top: 5%;
}


/* -------- MEDIA QUERIES -------- */
@media screen and (min-width: 992px) {
    .barreNav {
		min-width: 7.5%;
		height: 100vh;
		border-right: 1px solid black;
	}

	.logo {
		background: url("/assets/images/favicon.png") no-repeat round;
		position: absolute;
		height: 10%;
		width: 80px;
	}

    .barreNav:hover .logo {
		background: url("/assets/images/logo.png") no-repeat round;
		height: 13%;
		width: 100px;
		margin-left: 12%;
        top : 10px;
	}

	#navbarSupportedContent {
		display: none !important;
	}

    .barreNav:hover #navbarSupportedContent {
		display: block !important;
	}

    .barreNav:hover .navbar-nav:first-child {
		margin-top: 70%;
	}

    .barreNav ul {
		display: block !important;
	}

    .barreNav ul:first-child {
	    margin-top: 0;
	}

	.social-icons {
		position: absolute;
		top: 90%;
		width: 80%;
	}

	.social-icons li {
		margin: 0 5%;
	}

	/****************Footer***************/
	.myFooter{
        z-index: 10000;

	}

	.myNav {
		padding-right: 0;
		align-items: center;
	}

	.myCopyright {
		margin-left: 35px;
	}

	.logoLink {
		display: block;
		width: 10em;
		height: 100%;
	}

	.footLogo {
		background-repeat: no-repeat;
		background-position: center;
		height: 100%;
	}
}
